@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
}

#tomtombeeld {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.gps-frame {
    display: flex;
    width: 250px;
    height: 525px;
    position: absolute;
    left: -17%;
    top: -31%;
    z-index: 100;
    pointer-events: none;
}

.gps-screen {
    display: flex;
    width: 405px;
    height: 310px;
    border: 8px solid #000000;
    border-radius: 25px;
    position: absolute;
    left: 43%;
    top: 50%;
    background-image: url("map-photo-ping.png");
    background-size: cover;
    z-index: 100;

}

.gps-search-player {
    display: flex;
    width: 50%;
    height: 40px;
    position: absolute;
    left: 100px;
    top: 30%;
    border-radius: 8px;
    border: 1px solid #000000;
    background: rgba(255, 255, 255, 0.767);
    color: #4b4b4b;
}

.gps-search-postcode{
    display: flex;
    width: 50%;
    height: 40px;
    position: absolute;
    left: 100px;
    top: 70%;
    border-radius: 8px;
    border: 1px solid #000000;
    background: rgba(255, 255, 255, 0.767);
    color: #4b4b4b;
}

